* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;

}

:root {
  font-size: 100%;
  /* SP para que se me viese bien no podía tener esto a 62.5% */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
  --white: #fff;
  --cool-grey: #b8b8b9;
}

/* PARTE RAQUEL */
header {
  font-size: 1.6rem;
  opacity: 90%;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  header {
    display: block;
    position: fixed;
  }

  .team-name {
    width: 100vw;
    background-color: var(--blue-green)  ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 100vw;
    background-color: var(--aqua);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: var(--blue-green);
    color: var(--white);
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: #099d8d;
    color: white;
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}

/* PARTE SILVIA */
.hero {
    background-image: url(../img/imagen-hero.png);
    background-repeat: no-repeat;
    /* background-color: red; */
    width: 100vw;
    height: 316px; 
    margin: 0 0 46px;
    display: flex;
    align-items: center;
}

.Rectangle-2 {
  width: 290px;
  height: 80px;
  margin: 297px 15px 0;
  padding: 14px 15px 16px;
  background-color: var(--white);
  border: 1px solid grey;
  display: flex;
}

.subtitle {
  width: 260px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.563;
  letter-spacing: normal;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .Rectangle-2 {
    width: 441px;
    height: 80px;
    margin: 281px 281px 0 46px;
    padding: 15px 30px;
    opacity: 0.8;
    background-color: var(--white);
  }
  .hero {
    background-size: cover;
    height: 361px; 
  }
  .subtitle {
    width: 381px;
    line-height: 1.39;
  }
}

@media screen and (min-width: 1200px) {
  .Rectangle-2 {
    width: 800px;
    height: 90px;
    margin: 400px 488px 0 138px;
    padding: 15px 30px;
    opacity: 0.8;
    background-color: var(--white);
  }
  .hero {
    background-size:cover;
    width: 1200px;
    height: 490px; 
  }
  .subtitle {
    width: 514px;
    font-size: 1.5rem;
    line-height: 1.39;
  }
}
/* PARTE MIRIAM */
.about{
  background-color: var(--white);
  width: 100%;
  height: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.about h3{
width: 100%;
height: 40%;
margin: 40px 0;
font-size: 2.5rem;
font-weight: 500;
color: var(--aqua);
display: flex;
justify-content: center;}

.about-paragraph{
  width: 100%;
  
}

.about p{
  color: var(--gunmetal);
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.2rem;
  padding: 8px;
  font-weight: 100;
}

.about-cube{
  background-color: #099d8d;
  width: 30px;
  height: 30px;
  display: flex;
 margin: 0 55% 0 45%;
  transform: rotate(45deg) translateY(-2.2vh);
}

@media screen and (min-width: 768px){
  .about{
    height: 25%;
  }
}
/* Parte Lola*/
.strengths{
  width: 100%;
  height: 100%;
  margin: 10px 15px 0 15px;
  padding: 15px 15px 15px;
  background-color: rgb(246, 238, 238);
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  justify-content:flex-center;
  
}

.forttit{
  color:#14d9c4;  
}

.fort{
  text-align: center;

}

.debil{
  color:#14d9c4;
}

.debi{
  text-align: center;
  

}
/*Natalia*/
.adalabers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: var(--blue-green);
  margin: 30px 0;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  object-fit: cover;
  width: 180px;
  height: 180px;
  border: solid 4px var(--cool-grey);
  border-radius: 5px;
}

.names {
  font-size: 2rem;
  font-weight: normal;
  margin: 15px 0 5px 0; 

}

.description {
  text-align: center;
  font-size: 1rem;
  color: var(--gunmetal);
  line-height: 1.5;
  margin: 0 30px;
  padding: 0 15px;
}

i {
  margin: 0 5px;
}

.icons a {
  color: var(--blue-green);
 
}
.icons {
  display: flex;
  justify-content: center;
  margin: 15px;

}

@media screen and (min-width: 768px) {
  .boxes {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
  .boximage {
    width: 30%;
  }
  .boxcontent {
    width: 70%;
    display: flex;
    flex-direction: column;
    
  }
  .description {
    text-align: start;
    margin
    : 0;
    padding: 0;
  }
  .names {
    margin-top: 0;
  }
  .icons {
    justify-content: flex-start;
    margin-left: 0;
    
  }
  .i {
    width: 80%;
    height: 80%;
  }
  .reverse {
    flex-direction: row-reverse;
  } 
  .reverse_icons {
    justify-content: flex-end;
  }
  .reverse_name{
    text-align: end;
  }
  .reverse_description {
    text-align: end;
  }
}
@media screen and (min-width: 1200px) {

}
/* PARTE MARÍA */
.footer {
  height: 20wh;
  border: 1px solid var(--cool-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.div-footer1 {
  width: 172px;
  height: 20px;
  text-align: center;
  font-size: 1.2rem;
   /* MP:el tamañon en Zeplin pone 14px, ver fuente original cuando la tengamos */
  color:var(--cool-grey);
  
}
.list-footer {
  list-style: none;
  text-align: center;
}

.list-footer a {
  text-decoration: none;
  color: var(--gunmetal);
}
.logo-adalab {
  width: 115.9px;
  height: 45px;
}
@media screen and (min-width:768){ 
  .footer{
  height: 20wh;
  border: 1px solid var(--cool-grey);
  display: inline;
  }
  .list-footer{
    text-align: right;
  }
}

