* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

:root {
  font-size: 100%;
  /* SP para que se me viese bien no podía tener esto a 62.5% */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
  --white: #fff;
  --cool-grey: #b8b8b9;
}

/* PARTE RAQUEL */
header {
  font-size: 1.6rem;
  opacity: 90%;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  header {
    display: block;
    position: fixed;
  }

  .team-name {
    width: 100vw;
    background-color: var(--blue-green)  ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 100vw;
    background-color: var(--aqua);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: var(--blue-green);
    color: var(--white);
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: #099d8d;
    color: white;
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}

/* PARTE SILVIA */
.hero {
    background-image: url(../img/imagen-hero.png);
    background-repeat: no-repeat;
    /* background-color: red; */
    width: 100vw;
    height: 316px; 
    margin: 0 0 46px;
    display: flex;
    align-items: center;
}

.Rectangle-2 {
  width: 290px;
  height: 80px;
  margin: 297px 15px 0;
  padding: 14px 15px 16px;
  background-color: var(--white);
  border: 1px solid grey;
  display: flex;
}

.subtitle {
  width: 260px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.563;
  letter-spacing: normal;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .Rectangle-2 {
    width: 441px;
    height: 80px;
    margin: 281px 281px 0 46px;
    padding: 15px 30px;
    opacity: 0.8;
    background-color: var(--white);
  }
  .hero {
    background-size: cover;
    height: 361px; 
  }
  .subtitle {
    width: 381px;
    line-height: 1.39;
  }
}

@media screen and (min-width: 1200px) {
  .Rectangle-2 {
    width: 800px;
    height: 90px;
    margin: 400px 488px 0 138px;
    padding: 15px 30px;
    opacity: 0.8;
    background-color: var(--white);
  }
  .hero {
    background-size:cover;
    width: 1200px;
    height: 490px; 
  }
  .subtitle {
    width: 514px;
    font-size: 1.5rem;
    line-height: 1.39;
  }
}

/* PARTE MARÍA */
.footer {
  margin-top: 3775px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.div-footer1 {
  width: 172px;
  height: 20px;
  text-align: center;
  font-size: 1.2rem;
  /* MP:el tamañon en Zeplin pone 14px, ver fuente original cuando la tengamos */
  color: #b8b8b9;
  /* color: var(--cool-grey); */
}
.list-footer {
  list-style: none;
  text-align: center;
}

.list-footer a {
  text-decoration: none;
  color: #54585a;
  /* color: var(--gunmetal); */
}

.logo-adalab {
  width: 115.9px;
  height: 45px;
}
