<section class="about">
  <h3 class="about__team">EQUIPO</h3>
  <div class="about__text">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere magnam
      sed a in, iusto sapiente. Nisi amet a nobis sequi quasi sed animi libero
      blanditiis. Ratione voluptates a ipsa molestiae!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      aspernatur accusamus enim quisquam aut deserunt pariatur sapiente possimus
      iste! Dolor sed labore consequuntur, laboriosam ad cum debitis quos id
      eaque.
    </p>
  </div>
  <div class="about__cube"></div>
</section>

<!-- <section class="about">
  <h3>EQUIPO</h3>
  <div class="about-paragraph">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere magnam
      sed a in, iusto sapiente. Nisi amet a nobis sequi quasi sed animi libero
      blanditiis. Ratione voluptates a ipsa molestiae!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
      aspernatur accusamus enim quisquam aut deserunt pariatur sapiente possimus
      iste! Dolor sed labore consequuntur, laboriosam ad cum debitis quos id
      eaque.
    </p>
  </div>
  <div class="about-cube"></div>
</section> -->
