<section class="about" id="team">
  <h3>EQUIPO</h3>
  <div class="about-paragraph">
    <p>
      En un rincón del vasto universo, un grupo de mujeres excepcionales se
      reúne para forjar su destino como programadoras nómadas interestelares.
      Estas seis intrépidas mujeres, provenientes de diferentes rincones del
      cosmos, se han unido en un viaje extraordinario: un bootcamp de
      programación web que desafía las barreras del tiempo y el espacio.
    </p>
    <p>
      Sus caminos se separarán finalmente, para continuar con sus propios
      viajes, pero los lazos que han creado y las experiencias compartidas las
      mantendrán unidas a lo largo del tiempo y el espacio.
    </p>
  </div>
</section>
<div class="about-cube"></div>
