<section class="adalabers">
  <h2 class="title-section2">quiénes somos</h2>
  <article class="boxes">
    <img class="images" src="./assets/images/Nataliaoriginal.jpg" alt="" />
    <h3 class="names">Natalia Gañán</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iure porro
      quidem atque? Eos nihil laboriosam, vero itaque quod, odit cupiditate quis
      velit voluptas qui in nesciunt nulla, est eaque.
    </p>
    <div class="icons">
      <a href="https://twitter.com/NataliaaNGV"
        ><i class="fa-brands fa-twitter fa-xl"></i
      ></a>
      <a href="https://www.linkedin.com/in/nataliagananventura/"
        ><i class="fa-brands fa-linkedin-in fa-xl"></i
      ></a>
      <a href="https://github.com/nataliaventura93" target="_blank;"
        ><i class="fa-brands fa-github-alt fa-xl"></i
      ></a>
      <a href="mailto:nataliaventura93@gmail.com"
        ><i class="fa-solid fa-envelope fa-xl"></i
      ></a>
    </div>
  </article>
  <article class="boxes">
    <img class="images" src="" alt="" />
    <h3 class="names">Nombre Apellido</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis
      itaque, magni nesciunt sed dignissimos facilis, asperiores repellendus
      corrupti provident, obcaecati illum error eum quas odit facere quibusdam
      tenetur enim?
    </p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
    </div>
  </article>
  <article class="boxes">
    <img class="images" src="" alt="" />
    <h3 class="names">Nombre Apellido</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolores quas,
      sunt laboriosam, temporibus voluptatum corporis commodi odit dolorum
      laudantium soluta saepe fugiat aliquid. Mollitia ex minima assumenda illo
      voluptates.
    </p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
    </div>
  </article>
  <article class="boxes">
    <img class="images" src="" alt="" />
    <h3 class="names">Nombre Apellido</h3>
    <p class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint dolore,
      saepe facere dolores cumque fugiat voluptate repellat! Dolor nulla rem
      reprehenderit odio quam. Voluptatum fugit distinctio deserunt quod eum
      possimus?
    </p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
    </div>
  </article>
  <article class="boxes">
    <img class="images" src="" alt="" />
    <h3 class="names">Nombre Apellido</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt delectus
      officia placeat dignissimos, tempora ad quis, doloribus culpa adipisci
      tenetur, quod provident! Officia minus temporibus corrupti aut, maxime
      consectetur ullam?
    </p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
    </div>
  </article>
  <article class="boxes">
    <img class="images" src="" alt="" />
    <h3 class="names">Nombre Apellido</h3>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
      voluptates similique magnam consequuntur dolor eaque, quod suscipit
      incidunt repellat qui itaque voluptas eos rerum accusamus officia dolorum
      perspiciatis? Deleniti, unde.
    </p>
    <div class="icons">
      <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
      <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
      <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
    </div>
  </article>
</section>
