
<section class="adalabers">
  <h2 class="title-section2">quiénes somos</h2>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="./assets/images/Nataliaoriginal.jpg" alt="Natalia Gañán">
    </div>
    <div class="boxcontent">
      <h3 class="names">Natalia Gañán</h3>
      <p class="description">Profesional del comercio apasionada por la moda y el diseño. Exploro mi
        interés en la programación, amante de los gatos y la playa. Siempre buscando nuevos retos para crecer personal y
        profesionalmente</p>
      <div class="icons">
        <a href="https://twitter.com/NataliaaNGV"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="https://www.linkedin.com/in/nataliagananventura/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href="https://github.com/nataliaventura93" target=_blank;><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href="mailto:nataliaventura93@gmail.com"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="./assets/images/sp.jpg" alt="Silvia Parada">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">Silvia Parada</h3>
      <p class="description reverse_description">Arquitecta en proceso de cambio y reciclaje.
        Apasionada del diseño, me encanta descubrir nuevos restaurantes y el café de especialidad.
        Un lugar para ser feliz, Menorca. Un lugar al que volver, mi pueblo, en Ourense, donde he crecido.</p>
      </p>
      <div class="icons reverse_icons">
        <a href="https://twitter.com/silviaparada"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="https://www.linkedin.com/in/silvia-parada-905b246/"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href="https://github.com/silviaparadag"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href="mailto:silviaparadag@yahoo.es"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="./assets/images/Raquel.jpg" alt="Raquel García">
    </div>
    <div class="boxcontent">
      <h3 class="names">Raquel García</h3>
      <p class="description">
        Soy licenciada en filología inglesa. Llevo desde los 16 años trasteando con código por curiosidad gatuna, pero
        nunca
        me había planteado dedicarme a la programación profesionalmente. Por suerte, Adalab se cruzó en mi camino para
        convertir este hobby en algo mucho más significativo en mi vida!
      </p>
      <div class="icons">
        <a href="https://nyan.cat"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="https://r.mtdv.me/raquelgt"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href="https://github.com/raquelgarciat" target="_blank;"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href="mailto:raquelgarciat@gmail.com"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="" alt="">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">Nombre Apellido</h3>
      <p class="description reverse_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        perferendis itaque,
        magni
        nesciunt sed dignissimos facilis, asperiores repellendus corrupti provident, obcaecati illum error eum quas
        odit facere quibusdam tenetur enim?</p>
      <div class="icons reverse_icons">
        <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="" alt="">
    </div>
    <div class="boxcontent">
      <h3 class="names">Nombre Apellido</h3>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis itaque,
        magni
        nesciunt sed dignissimos facilis, asperiores repellendus corrupti provident, obcaecati illum error eum quas
        odit facere quibusdam tenetur enim?</p>
      <div class="icons">
        <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="" alt="">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">Nombre Apellido</h3>
      <p class="description reverse_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
        perferendis itaque,
        magninesciunt sed dignissimos facilis, asperiores repellendus corrupti provident, obcaecati illum error eum quas
        odit facere quibusdam tenetur enim?</p>
      <div class="icons reverse_icons">
        <a href=""><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <a href=""><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
</section>