<section class="adalabers" id="adalabers">
  <h2 class="title-section2">quiénes somos</h2>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="./assets/images/natalia.jpg" alt="Natalia Gañán">
    </div>
    <div class="boxcontent">
      <h3 class="names">Natalia Gañán | <span class="aka">Eléctrona</span></h3>
      <p class="description">Profesional del comercio apasionada por la moda y el diseño. Exploro mi
        interés en la programación, amante de los gatos y la playa. Siempre buscando nuevos retos para crecer personal y
        profesionalmente</p>
      <div class="icons">
        <a href="https://twitter.com/NataliaaNGV" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://www.linkedin.com/in/nataliagananventura/" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://github.com/nataliaventura93" target="_blank";><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="mailto:nataliaventura93@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="./assets/images/silvia.jpg" alt="Silvia Parada">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">Silvia Parada | <span class="aka">Ciberángel</span></h3>
      <p class="description reverse_description">Arquitecta en proceso de cambio y reciclaje.
        Apasionada del diseño, me encanta descubrir nuevos restaurantes y el café de especialidad.
        Un lugar para ser feliz, Menorca. Un lugar al que volver, mi pueblo, en Ourense, donde he crecido.</p>
      </p>
      <div class="icons reverse_icons">
        <a href="https://twitter.com/silviaparada" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://www.linkedin.com/in/silvia-parada-905b246/" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://github.com/silviaparadag" target="_blank"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="mailto:silviaparadag@yahoo.es" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="./assets/images/raquel.jpg" alt="Raquel García">
    </div>
    <div class="boxcontent">
      <h3 class="names">Raquel García | <span class="aka">Technomaga</span></h3>
      <p class="description">
        Soy licenciada en filología inglesa. Llevo desde los 16 años trasteando con código por curiosidad gatuna, pero
        nunca
        me había planteado dedicarme a la programación profesionalmente. Por suerte, Adalab se cruzó en mi camino para
        convertir este hobby en algo mucho más significativo en mi vida!
      </p>
      <div class="icons">
        <a href="https://nyan.cat" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://r.mtdv.me/raquelgt" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://github.com/raquelgarciat" target="_blank"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="mailto:raquelgarciat@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="./assets/images/maria.jpg" alt="María Peña">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">María Peña | <span class="aka">Dra. Robótica</span></h3>
      <p class="description reverse_description">Traductora de alemán, aprendiz de joyera y enamorada de la cerámica y
        el buen humor.
        Disfruto viviendo entre plantas y cerca del mar. Bailar es mi medicina y las lenguas mi pasión, lo que me ha
        llevado ahora a investigar nuevos lenguajes y adentrarme así en el mundo de la programación web.</p>
      <div class="icons reverse_icons">
        <a href="" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes">
    <div class="boximage">
      <img class="images" src="./assets/images/miriam.jpg" alt="Miriam Paternáin">
    </div>
    <div class="boxcontent">
      <h3 class="names">Miriam Paternáin | <span class="aka">BiotechGenius</span></h3>
      <p class="description">Tras más de 10 años en el sector científico, he decidido dar un giro radical a mi vida profesional y ahora me encuentro en fase de unir lo que más me gusta, el diseño gráfico, con lo que mas curiosidad me produce, el desarrollo web.
        Mis ratos libres los dedico a una buena serie y a disfrutar con mi gente.</p>
      <div class="icons">
        <a href="" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://www.linkedin.com/in/miriam-patern%C3%A1in-736800252/" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="https://github.com/MiriamPaternain" target="_blank"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="mailto:miriampaternain@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
  <article class="boxes reverse_box">
    <div class="boximage">
      <img class="images images_reverse" src="./assets/images/LolaGarcia.JPG" alt="Lola Garcia">
    </div>
    <div class="boxcontent reverse_box-content">
      <h3 class="names reverse_name">Lola García | <span class="aka">DataMística</span></h3>
      <p class="description reverse_description">Trabajo de educadora en un colegio de niños con autismo, mi pasión son ellos y verlos crecer y evolucionar.
        Me encanta el frío, ya que con él se van los mosquitos y vienen los chocolates calientes, los días de “manta y peli /serie”… y la moda de invierno me gusta más!!
        Esa soy yo y cada día me propongo nuevas metas y esta con Adalab pienso cumplirla!</p>
      <div class="icons reverse_icons">
        <a href="" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-brands fa-github-alt fa-xl"></i></a>
        <span class="dot"></span>
        <a href="" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
      </div>
    </div>
  </article>
</section>