<form class="form" action="https://formspree.io/f/xjvdzeko" method="post">

    <label for="name" class="input__label">Nombre completo<span class="color_text">*</span></label>
    <input class="input_box" placeholder="Nombre..." id="name" type="text" name="Name" required />

    <label for="emailAddress" class="input__label">Email<span class="color_text">*</span></label>
    <input class="input_box" placeholder="nombre.apellidos@mail.com" type="email" id="emailAddress" name="emailAddress"
        required />

    <label for="tel" class="input__label">Teléfono</label>
    <input class="input_box" placeholder="Ej: 123456789" type="number" id="tel" name="telephone" />


    <label for="message">Mensaje<span class="color_text">*</span></label>
    <textarea placeholder="¿Qué necesitas?" id="message" name="message" rows="8" cols="80" required></textarea>
    <div class="button_box"><input class="button" type="submit" value="ENVIAR" /> </div>
</form>