<footer>
  <section class="footer">
    <div class="div-footer1">Space Developers © 2023</div>
    <div class="div-footer2">
      <ul class="list-footer">
        <li><a href="../index.html#team">EQUIPO</a></li>
        <li><a href="../index.html#adalabers">QUIÉNES SOMOS</a></li>
        <li><a href="../contact.html" target="_blank">CONTACTO</a></li>
      </ul>
    </div>
    <div class="div-footer3">
      <img class="logo-adalab" src="./assets/images/logo-adalab.png" alt="Logo Adalab" />
    </div>
  </section>
</footer>