 <!-- 4 -->
 <section class="strengths">
  <div class="fort">
    
      <h3 class="forttit">Fortalezas</h3>
      <br/>
    
      <p>
        Lorem ips dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. </p>
  </div>
  

  <div class="debi">

        <h3 
        class="debil">Debilidades</h3>
        <br/>

      <p>
        Lorem ips dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. </p>
  </div>
    
  </section>
