<section class="strengths">
  <div class="fort">
    <h3 class="forttit">Fortalezas</h3>
    <p class="s_w_paragraph">
      Cada una de ellas posee una habilidad única y una pasión inigualable por
      la programación. A medida que exploran los misterios del código y las
      maravillas de la web, su objetivo principal es dominar las herramientas y
      los lenguajes de programación necesarios para desarrollar aplicaciones y
      sitios web de vanguardia en cualquier parte del universo.
    </p>
  </div>

  <div class="debi">
    <h3 class="debil">Debilidades</h3>
    <p class="s_w_paragraph">
      Como cualquier grupo, tiene diversidad de perspectivas con debilidades
      individuales que deben superar. No obstante, el compromiso de trabajar en
      ello demuestran la determinación para crecer y mejorar de cada una de
      ellas, a pesar de que ante algunos problemas complejos se pueda amagar con
      la procrastinación.
    </p>
  </div>
</section>