.about{
    background-color: var(--white);
    width: 100%;
    height: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .about h3{
  width: 100%;
  height: 40%;
  margin: 40px 0;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--aqua);
  display: flex;
  justify-content: center;}
  
  .about-paragraph{
    width: 100%;
    
  }
  
  .about p{
    color: var(--gunmetal);
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.2rem;
    padding: 8px;
    font-weight: 100;
  }
  
  .about-cube{
    background-color: #099d8d;
    width: 30px;
    height: 30px;
    display: flex;
   margin: 0 55% 0 45%;
    transform: rotate(45deg) translateY(-2.2vh);
  }
  
  @media screen and (min-width: 768px){
    .about{
      height: 25%;
    }
  }