header {
  font-size: 16px;
  opacity: 90%;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  header {
    display: block;
    position: fixed;
  }

  .team-name {
    width: 100vw;
    background-color: var(--blue-green)  ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    width: 100vw;
    background-color: var(--aqua);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: var(--blue-green);
    color: var(--white);
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 45px;
    padding-right: 45px;
    align-items: center;
    background-color: #099d8d;
    color: white;
    position: fixed;
    width: 100vw;
  }

  .navbar {
    display: flex;
    list-style: none;
    column-gap: 15px;
    background-color: var(--blue-green);
  }
}
