.strengths{
  width: 100%;
  height: 100%;
  padding: 15px 15px 15px;
  margin: -15px auto 0;
  background-color:#b8b8b9;
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  
  
}

.forttit{
  margin-block-start: 45px;
  margin-block-end: 15px;
  color:#099d8d;
  font-size: 22px;

}

.fort{
  text-align: center;
}

.text1 .text2{ 
  font-size: 1.5rem;

}

.debil{
  color:#099d8d;
  margin-block-start: 45px;
  margin-block-end: 15px;
  font-size: 22px;
}

.debi{
  text-align: center;
}