.strengths{
  width: 50%;
  height: 50%;
  padding: 60px;
  margin: -15px auto 0;
  background-color: rgb(246, 238, 238);
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  margin:0 auto;
  
}

.forttit{
  margin-block-start: 45px;
  margin-block-end: 15px;
  color:#14d9c4;
  font-size: 22px;

}

.fort{
  text-align: center;
}

.text1 .text2{
  
  font-size: 16px;

}

.debil{
  color:#14d9c4;
  margin-block-start: 45px;
  margin-block-end: 15px;
  font-size: 22px;
}

.debi{
  text-align: center;
}